body {
  max-width: 1200px;
  margin: auto;
  background-image: url(../images/bg.jpg);
}

h1 {
  text-align: center;
  color: green;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border: 0.1rem , solid, white;
  margin: 0.6rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  filter: grayscale(100%);
}

.galerie img:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
  filter: gray;
  filter: none;
  transition: 1s;
}